<span style='color: #000'>263 frames</span>	<span style='color: #900'>9,728 KB</span>	<span style='color: #090'>223.02 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />