
#navigation-menu.navbar-inverse {background-color:#1489BF;border: 1px solid #3562AC; color:#fff;}
#navigation-menu.navbar-inverse .navbar-nav > li > a{color:#fff;}
#navigation-menu.navbar-inverse .navbar-text {color: #fff;}
#navigation-menu.navbar-inverse .navbar-nav > .open > a, #navigation-menu.navbar-inverse .navbar-nav > .open > a:hover, #navigation-menu.navbar-inverse .navbar-nav > .open > a:focus{background-color:#0F5E83;}
#navigation-menu .navbar-nav > li > a {/*padding:6px 10px;*/float:right;}
.navbar-brand{padding:10px 15px; /*min-width:220px;*/}
.codeSelect{ height:46px; float:left;min-width:100px; padding:0 10px; line-height:42px; text-align:center; font-size:25px; font-weight:bold; background:#0F5E83; border:2px solid #0F5E83; box-shadow: 1px 1px 0px 1px rgba(255,255,255,0.5); margin-right:10px;} /*rgba(20,137,191,0.8)*/
.dropIcon{margin-top:9%;}
.mr-0{margin:0px !important;}
.pd-0{padding:0px !important;}
.pd-LR-0{padding-left:0px !important;padding-right:0px !important;}
.pd-R-0{padding-right:0px !important;}
.sms_icons{text-align:center; }
.sms_icons i{text-align:center; width:100%;font-size:20px; height:26px; line-height:26px; margin-bottom:5px; }

.bgblue{background-color:#1489BF !important;border: 1px solid #1489BF !important;color:#fff !important;}
.dataTables_filter{float:right; width:40%; }
.dataTables_filter label{width:100%; float:left;}
.dataTables_filter label .searchinput{width:62%; display:inline-block; float:right;}
.filterForm{float:left; width:100%; padding:35px 0 20px 0; margin-bottom:25px;border:1px solid #ccc;}
.dataTables_paginate{float:right;}
.dataTables_info{margin:0px; line-height:42px;}
.pagination{padding:10px 0; margin:0px 0;}
.error{color:#f00;}

@media only screen and (max-width:320px){

.dropIcon{margin-top:6.5%;}
.dropIcon .navbar-brand img.logo{width:40%; margin:0 30%;}

}

@media (min-width:320px) and (max-width:479px){

.dropIcon{margin-top:6.5%;}
.dropIcon .navbar-brand img.logo{width:40%; margin:0 30%;}

}

@media (min-width:480px) and (max-width:639px){

.dropIcon {margin-top: 4.5%;}
.dropIcon .navbar-brand img.logo{width:30%; margin:0 35%;}

}

@media (min-width:640px) and (max-width:768px){

.dropIcon {margin-top: 3.5%;}
.dropIcon .navbar-brand img.logo{width:20%; float:left;}
.lcrlogintitle{width:30% !important; font-size:18px !important;}

}


@media only screen and (max-width: 800px) {

/* Force table to not be like tables anymore */
#no-more-tables table, #no-more-tables thead, #no-more-tables tbody, #no-more-tables th, #no-more-tables td, #no-more-tables tr { display: block; }

/* Hide table headers (but not display: none;, for accessibility) */
#no-more-tables thead tr { position: absolute;top: -9999px;left: -9999px;}

#no-more-tables tr { border: 1px solid #ccc; }

#no-more-tables td { /* Behave  like a "row" */border: none;border-bottom: 1px solid #eee; position: relative;padding-left: 50%; white-space: normal;text-align:left;min-height:50px;}

#no-more-tables td:before { /* Now like a table header */position: absolute;/* Top/left values mimic padding */top: 6px;left: 6px;width: 45%; padding-right: 10px; white-space: nowrap;text-align:left;font-weight: bold;}

/* Label the data */
#no-more-tables td:before { content: attr(data-title);    white-space: pre-wrap; }
}

@media (min-width: 768px) {
.dropdown-menu{min-width:225px;}
.dropdown-menu li a i{width:15%;}
.mr-r-15{margin-right:15px;}
.dRight{float:right;}
.rightDropdown{right:0; left:auto;}
.lcrlogintitle{font-size:22px; line-height:50px;}
.navbar-brand img.logo{float:left !important; }
.dropIcon .navbar-brand img.logo{width:35%;}
}


@media (max-width: 768px) {
.nav>li{width:100%; float:left;}
.nav>li a{float:left; width:100%; text-align:left;}
.nav>li a i{float:left; width:10%; }
.Rpd-0{padding:0px !important;}
.mr-b-15{margin-bottom:15px !important;}
.Muser{width:60%; float:left;}
.codeSelect{float:left; width:30%; box-shadow:none; font-size:16px; min-width:25%;}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a{color:#fff;}
.navbar-nav .open .dropdown-menu{float:left; width:100%;}
.dropdown-toggle{padding:0px;}
.lcrlogintitle{font-size:14px; text-align:center; line-height:30px; width:100%;}
.navbar-toggle{margin-top:20px;}
.dataTables_filter{width:100%; line-height:26px;}
}
.form-upload{width:80%;padding:6px 0; float:left;}
.remove-upload{width:20%; float:left; text-align:center;}
.mr-t-20{margin-top:20px;}
.mr-t-10{margin-top:10px;}
.mt-10per{margin-top:10%;}
.siteCode{line-height:34px; font-size:16px; font-weight:bold;}
.lcrlogin{font-size:16px; color:#1489BF;}

/*.panel-default{border: 1px solid #1489BF !important;}*/
.modal-header.bgblue{border-radius: 5px 5px 0 0;}
.dataTables_wrapper .col-sm-6{float:left; width:50%;}
.dataTables_length label{float:left; width:100%;}
.dataTables_length label select{width:40%; display:inline-block;}

.loader {width: 3em;height: 3em;position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto;border-radius: 50%;box-shadow: 0 0 5px #444;}
.loader:before {content: "";position: absolute;width: 100%;height: 100%;border-radius: 50%;background: linear-gradient(#009EE3 , black 90%);animation: spin .5s infinite linear;}
.loader:after {content: "";position: absolute;width: 90%;height: 90%;top: 5%;left:5%;background-color:#fff;border-radius: 50%;box-shadow: inset 0 0 5px #444;}


.load-bg{position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(255, 255, 255, 0.6);z-index:99999;display:block;}
.loader1{position:relative; float:left; min-height:200px; width:100%;} 

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}