body {
  padding-top:100px; color:#0F5E83;
}
/*.navbar-inverse {
    background-color: #fff !important;
    border-color: #c7c7c7 !important;
}*/
a,a:hover,a:focus{outline:none;}
.navbar-header img{max-width:100%;}
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-nav>li>a{color:#000;}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus{color:#999;}
.content-top-space{margin-top:-30px;}
div.table-responsive {
    overflow: auto;
}
@media (min-width: 768px)
{
.navbar-header{width:20%; float:left;}
.navbar-inverse .navbar-collapse{width:80%; float:right;}
.navbar-nav {float: left;margin:0px 0px;}
.navbar-nav>li>a{padding:26px 15px;}
.navbar-nav.navbar-right:last-child{margin-right:0px;}
.navbar-inverse .navbar-text{margin:25px 15px;}
.mobileDisplay{display:none;}
}
@media (min-width: 768px) and (max-width: 992px)
{
.sideBar {
    width: 30% !important;
}
#sidebar-wrapper{
width:30% !important;
}
.rightContainer{width:70% !important;padding:70px 10px;}
.displayT{display:none;}
}
@media (min-width:992px) and (max-width:1200px)
{
.sideBar {
    width: 30% !important;
}
#sidebar-wrapper{
width:30% !important;
}
.rightContainer{width:70% !important;padding:70px 10px;}
.Tm-t-20{margin-top:20px;}

}
@media (min-width: 1200px)
{
.sideBar{width:20% !important;}
.rightContainer{width:80% !important;padding:70px 10px;}
}
@media (max-width: 768px)
{
.sideBar{display:none;}
.rightContainer{width:100% !important;padding:40px 0px;}
.Mpd-0{padding:0px !important;}
#navigation-menu.navbar-inverse .navbar-text{width:100%; padding:10px 15px; margin:0px;}
.navbar-nav{margin:0px;}
.navbar-inverse .navbar-collapse{padding:0px;}
.dropdown a .caret{position:absolute;right:15px; top:17px;}
.mobileDisplay{display:block;}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {background-color: #0F5E83;}
.navbar-inverse .navbar-toggle {border-color: #e8e8e8;}
.displayM{display:none;}
.Mm-b-20{margin-bottom:20px !important;}
.Mm-t-20{margin-top:20px !important;}

}
.sideBar{
    position:relative;
	min-height:825px;
    /*-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;*/
}

/*#wrapper.toggled {
    padding-left: 250px;
}
*/
#sidebar-wrapper {
    /*z-index: 1000;
    position: absolute;
    left: 250px;
    margin-left: -250px;
    overflow-y: auto;*/
	width:20%;
		position:fixed;
	float:left;
	left:0px;
	top:74px;
    height:100%;
    background: #f5f5f5;
	border-right: 1px solid #e8e8e8;/* */
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.panel-default>.panel-heading{color:#0F5E83;}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: relative;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
	float:left;
}

.sidebar-nav li { text-indent: 20px; line-height: 40px;border-bottom:1px solid #e8e8e8; float:left; width:100%;}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #0F5E83;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background:#1489BF;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 32px;
    line-height: 65px;
}

.sidebar-nav > .sidebar-brand  {
    color: #0F5E83;border-bottom: 1px solid #e8e8e8;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #0F5E83;
    background: none;
}


/*.affix{top:73px; width:262px;}*/
.affix-show{display:none;}
.affix .sidebar-nav li.affix-show{display:block;}
.form-horizontal .form-group{margin:0px;}
#leftCol{margin:16px 0 33px 0; font-size:32PX; text-align:center; }
#footer{height:60px; padding:15px 0; background:#f5f5f5; border-top:1px solid #ccc;float:left; position:relative; margin-top:50px; z-index:9999;  width:100%; bottom:0px;}
.pd-0{padding:0px !important;}
.m-t-20{margin-top:20px;}
.lcrlogintitle{line-height:50px;}
/*.mainbox {margin-top:5%;}*/
.sidebar-nav li.mainmenu a{background:#1489BF; color:#fff;}
.sidebar-nav li a{position:relative;}
.sidebar-nav li a span{position:absolute; right:15px; width:40px !important; height:32px; line-height:32px;}
.table-condensed>tbody>tr>td.active{background: #0F5E83;color: #fff;border-radius: 5px;}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{background:#fff;}
.input-group.date{cursor:pointer;}
.sub-nav{width:100%;float: left; padding:0; margin:0px; }
.sub-nav li{list-style:none;}
.sidebar-nav li .sub-nav li a{ background:none; color:#0F5E83;padding:0 0 0 20px;}
.sub-nav li.active a{ background:none; color:#000;padding:0 0 0 20px; font-weight:bold;}
.tab-content{border-left: 1px solid #ddd;border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;padding: 20px; float: left; width:100%;}
#txtUsername + label#txtUsername-error{position:absolute; top:110%; left:0px;}
#txtPassword + label#txtPassword-error{position:absolute; top:110%; left:0px;}
#loginform .input-group{position:relative; margin-bottom: 35px;}
label.error{font-weight: normal;}


.dates + label.error{position:absolute; top:110%; left:0px;}
.input-group.date{position:relative; /* margin-bottom: 35px; */}
label.error{font-weight: normal;}

.form-control.error{color:#555;}